$offset: -0.48%;
$radius: 3px;

.a,
.b,
.d,
.e,
.g {
  margin: 0 0 0 $offset;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  border-top: var(--border-width) var(--border-style) var(--border-color);
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
  text-align: center;

  &:first-child {
    border-radius: 5px 0 5px 5px;
  }

  &:last-child {
    border-radius: 0 5px 5px 5px;
  }

  &.required {
    background: #33e02f !important;
    opacity: 0.6;
  }

  &:not([class*='S']) {
    height: 10em;
    width: 1.95%;
    z-index: 1;
    line-height: 14em;
    background-color: ivory;

    border: 1px solid #bbb;
    border-radius: 0 0 $radius $radius;
  }

  &[class*='S'] {
    height: 6em;
    width: 0.96%;
    z-index: 2;
    line-height: 6em;
    background-color: #333;

    border: 1px solid #000;
    border-radius: 0 0 $radius $radius;

    margin: 0 0 0 $offset;
  }
}
