<ion-menu type="reveal" side="end" contentId="main-content">
  <ion-content>
    <ion-list>
    <ion-item-divider>
      <ion-label>
        Controls
      </ion-label>
    </ion-item-divider>
      <ion-item>
        <ion-label position="fixed">Range</ion-label>
        <ion-input [(ngModel)]="inputMeasure.lower" (change)="updateLowerMeasure($event.target.value)"></ion-input>
        &nbsp;-&nbsp;
        <ion-input [(ngModel)]="inputMeasure.upper" (change)="updateUpperMeasure($event.target.value)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Loop</ion-label>
        <ion-input type="number" [(ngModel)]="repeatText" (ionChange)="updateRepeat($event.target.value)"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Zoom</ion-label>
        <ion-input type="number" [(ngModel)]="zoomText" (change)="updateZoom($event.target.value)">%</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Tempo</ion-label>
        <ion-input type="number" [(ngModel)]="speedText" (change)="updateSpeed($event.target.value)"></ion-input>
      </ion-item>

    <ion-item-divider>
      <ion-label>
        Settings
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-checkbox disabled={{running}} [(ngModel)]="checkboxStaveUp" slot="end"></ion-checkbox>
      <ion-label>Upper Staff</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox disabled={{running}} [(ngModel)]="checkboxStaveDown" slot="end"></ion-checkbox>
      <ion-label>Lower Staff</ion-label>
    </ion-item>

      <ion-item>
        <ion-label>{{'keyboard'| translate}}</ion-label>
        <ion-toggle [(ngModel)]="checkboxKeyboard"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{'color'| translate}}</ion-label>
        <ion-toggle (ionChange)="osmdColor($event.detail.checked)" disabled="{{running}}"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label position="fill">Background</ion-label>
        <ion-item><input type="color" [(ngModel)]="backgroundColor" disabled="{{running}}"></ion-item>
      </ion-item>

      <ion-item>
        <ion-label>Language</ion-label>
        <ion-select interface="popover" [(ngModel)]="lang" (ionChange)="useLanguage($event)">
          <ion-select-option value="gb">🇬🇧 gb</ion-select-option>
          <ion-select-option value="fr">🇫🇷 fr</ion-select-option>
          <ion-select-option value="de">🇩🇪 de</ion-select-option>
          <ion-select-option value="it">🇮🇹 it</ion-select-option>
          <ion-select-option value="es">🇪🇸 es</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <input class="ion-hide" #f type="file" (change)="osmdLoadFiles($event.target.files)" />

      <ion-buttons slot="start">
        <ion-button disabled="{{running}}" (click)="f.click()">
          <ion-icon size="large" name="folder-open-outline"></ion-icon>
        </ion-button>
        <ion-button disabled="{{!fileLoaded||running}}" (click)="osmdPractice()">
          <ion-icon size="large" name="play-outline"></ion-icon>
        </ion-button>
        <ion-button disabled="{{!fileLoaded||running}}" (click)="osmdPlay()">
          <ion-icon size="large" name="volume-medium-outline"></ion-icon>
        </ion-button>
        <ion-button disabled="{{!running}}" (click)="osmdCursorStop()">
          <ion-icon size="large" name="stop-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="false">

    <div style="margin: 5%">
      <ion-label *ngIf="fileLoadError" color="danger">
        <strong>{{'errorFile'| translate}}</strong>
      </ion-label>
    </div>

    <div [style.backgroundColor] = "backgroundColor" id="osmdContainer"></div>

    <div *ngIf="!fileLoaded" style="margin: 5%">
      <ion-label *ngIf="!midiAvailable" color="danger">
        <strong>{{'errorMidi'| translate}}</strong>
      </ion-label>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Open a Score</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item>1. {{'instructions1'| translate}}</ion-item>

            <ion-item>
              2. {{'instructions2a'| translate}} 
              &nbsp;<a href="https://musicxml.com/music-in-musicxml/" target="_blank">MusicXML</a>&nbsp;
              {{'instructions2b'| translate}} &nbsp;
            </ion-item>

            <ion-item> 3. {{'instructions3'| translate}}</ion-item>

          </ion-list>
        </ion-card-content>

        <ion-button
          fill="clear"
          (click)="osmdLoadURL('/assets/scores/October_Autumn_Song_from_Tchaikovskys_The_Seasons.mxl')">
          October
        </ion-button>
        <ion-button fill="clear" (click)="osmdLoadURL('/assets/scores/Opus_27_No_2_Moonlight_Sonata_1st_movement.mxl')">
          Moonlight Sonata
        </ion-button>
        <ion-button fill="clear" (click)="osmdLoadURL('/assets/scores/Passacaglia.mxl')">
          Passacaglia
        </ion-button>
        <ion-button
          fill="clear"
          (click)="osmdLoadURL('/assets/scores/Prlude_No._4_in_E_Minor_Op._28_-_Frdric_Chopin.mxl')">
          Prelude in E Minor
        </ion-button>
      </ion-card>
    </div>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <app-piano-keyboard *ngIf="checkboxKeyboard"></app-piano-keyboard>
    </ion-toolbar>
  </ion-footer>

</div>
